@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');




:root {
    --pri-clr-vi: hsl(257, 40%, 49%);
    --pri-clr-mag: hsl(300, 69%, 71%);
    --pri-clr-heading: rgb(245, 245, 245);
    --pri-clr-body: rgb(248, 248, 248);
    
    
    --fs-500: 1rem; 
    --fs-550:1.125rem;
    --fs-600: 1.25rem; 
    --fs-700: 1.5rem;
    --fs-800: 1.75rem;
    --fs-900: 2.25rem;

    --ff-headings: 'Poppins', sans-serif;
    --ff-body: 'Open Sans', sans-serif;

    --fw-400: 400;
    --fw-600: 600;
}

* {
    box-sizing: border-box;
    margin: 0;  
    padding: 0;
}

 body {
    background-image: url(images/bg-mobile.svg);
    background-color: var(--pri-clr-vi);
    background-repeat: no-repeat;
    background-size:  100%;

 }

 .container {
   max-width: 1440px;
   padding-block: 1.25rem;
   padding-inline: 2rem;
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   margin-inline: auto;
   }
  
.flex-container {
   max-width: 100%;
}

 header {
   max-width: 100%; 
   margin-top: -1rem;
 }

 .logo {
   max-width: 200px;
}

 .mock {
   max-width: 100%;
   height: auto;
   
 }

.section-1 {
   max-width: 750px;
}


.section-2{
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

h1 {
   font-family: var(--ff-headings);
   font-weight: var(--fw-600);
   font-size: var(--fs-800);
   color: var(--pri-clr-heading);
   max-width: 18ch;
   padding-block-end: 1rem;
}

 p {
    font-family: var(--ff-body);
    font-size: var(--fs-500);
    font-weight: var(--fw-400);
    line-height: 1.5em;
    color: var(--pri-clr-body);
    max-width: 100%;
    letter-spacing: 0.01em;
    padding-block-end: 1.75rem;
 }

 button {
   width: 210px;
   padding: 0.75rem;
   border-radius: 30px;
   border: none;
   color: var(--pri-clr-vi);
   box-shadow: 1px 5px 7px rgba(0, 0, 0, 0.234);
   cursor: pointer;
}

button:hover {
  width: 210px;
  padding: 0.75rem;
  border-radius: 30px;
  border: none;
  color: white;
  background-color: var(--pri-clr-mag);
  box-shadow: 1px 5px 7px rgba(0, 0, 0, 0.234);
}


 footer {
   width: 100%;
   display: flex;
   justify-content: center;
   gap: 1rem;
   align-items: center;
 }


 i {
   display: inline-block;
   border-radius: 60px;
   color: white;
   border: 1px solid white;
   padding: .5em;
 }

 .fa-instagram {
   padding: 0.5em 0.6em; 
 }

 i:hover {
   color: var(--pri-clr-mag);
   border-color: var(--pri-clr-mag);
   cursor: pointer;
   
 }





  /* DESKTOP VERSION */

 @media all and (min-width: 1200px ) {
   .container {
      flex-direction: column;
      padding-inline: 4rem;
      padding-block: 2rem;
      justify-content: space-around;
   }

   .flex-container {
      display: flex; 
      flex-direction: row;
      gap: 3rem;
   }

   footer {
      justify-content: flex-end;
   }

   p {
      font-size: var(--fs-550);
   }

   h1 {
      font-size: var(--fs-900);
   }

   .section-1 {
      /* margin-inline-start: 5rem; */
      margin-block-start: 4rem;
      max-width: 70%;
      flex-grow: 1;
   }

   .section-2 {
      margin-block-start: 6rem;
      max-width: auto;

   }
 }

 @Media all and (max-width: 1200px) {

   header {
      padding-block-start: 3rem;
   }

   .flex-container {
      display: flex; 
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }

   .section-2 {
      text-align: center;
      align-items: center;
      margin-inline: auto;
   }


 @media all and (min-width: 400px){
   body {
       background-image: url(images/bg-desktop.svg);
       background-color: var(--pri-clr-vi);
       background-size: auto 100%;
       min-height: 100vh;
    }
}

 }